# bin
*.o
*.a
*.so
*.dll
*.exe
*.obj
*.com
*.class

# archive
*.7z
*.gz
*.xz
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip

# log
*.log

# os
._*
.Trashes
.Trash-*
Thumbs.db
.DS_Store*
ehthumbs.db
$Recycle.Bin
System Volume Information

# pkg manager
.npm
.yarn
.gradle
node_modules

# editor
.vs
.idea
.vscode

# cmake
cmake-build-debug
cmake-build-debug-coverage

# build
bin
obj
dist
.nuxt
build
.output
dist_electron

